/*Global Classes*/
.inline {display: inline-block;vertical-align: top;}

#wraper {width: 980px;margin: 0 auto; background-color: red;}
#header {height: 80px;background-color: blue;}
#logo {height: 80px;width: 250px;background-color: silver;}
#bussinesinfo {height: 80px;width: 200px;background-color: pink;}
#nav {height: 50px; background-color: green;}
/*Container*/
#container {background-color: red;height: 300px;}
#containerImg{height: 300px;width: 350px; background-color: grey;}
#containerAbout{height:300px; width: 500px;background-color:silver;}
/*Box Holder*/
#boxes {margin:0 auto;} 
#boxHolder {background-color:yellow;height: 300px; margin:0 auto;}
.box {height:300px; width:24%%; background-color:purple;}
/* comment */